.phonebook-form {
  width: 300px;
  padding: 25px;
  border-radius: 5px;
  border: 1.5px solid rgb(35, 35, 144);
}

.phonebook-form:not(:last-child) {
  margin-bottom: 30px;
}

.phonebook-label {
  display: flex;
  flex-direction: column;
}

.phonebook-label:not(:last-child) {
  margin-bottom: 20px;
}

.phonebook-input {
  padding: 5px;
  outline: none;
  border: 1px solid rgb(96, 24, 164);
}
